<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WorkoutApp | Login</title>
</head>
<body class="bg-dark h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<p th:if="${NotAuth}" class="alert alert-warning text-center" th:text="${NotAuth}"></p>
<section class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center h-75 text-light">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Oops!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
            <a th:href="@{/}" class="btn btn-info">Go Home</a>
        </div>
    </div>
</section>

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->
</body>
</html>