<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>Profile Page</title>
</head>
<body class="bg-dark h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<p th:if="${successEdit}" class="alert alert-success text-center" th:text="${successEdit}"></p>
<section class="container">

    <div class="container mt-5 w-50 rounded text-light">
        <h2 class="text-center fw-bold mb-2"><span class="highlight">Delete Profile</span></h2>
    </div>

    <div class="container bg-light p-5 mt-5 w-50 rounded">
        <p class="text-danger fw-bold mb-2">Are you sure you want to delete your profile? This action cannot be undone</p>

        <div class="mb-3 d-flex border-bottom">
            <p class="col-6">Email: </p>
            <span class="fw-bold col-6" th:text="${session.loggedInUserEmail}"></span>
        </div>

        <div class="mb-3 d-flex border-bottom">
            <p class="col-6">First Name: </p>
            <span class="fw-bold" th:text="${session.loggedInUserFirstName}"></span>
        </div>

        <div class="mb-3 d-flex border-bottom">
            <p class="col-6">Last Name: </p>
            <span class="fw-bold" th:text="${session.loggedInUserLastName}"></span>
        </div>

        <div class="mb-3 d-flex flex-start">
            <div class="col-6">
                <a th:href="@{/account/{id}/edit(id = ${session.loggedInUserId})}" class="btn btn-primary mb-2">Edit</a>
            </div>
            <div class="">
                <a th:href="@{/account/{id}/delete(id = ${session.loggedInUserId})}" class="btn btn-danger mb-2 float-end">Delete</a>
            </div>
        </div>
    </div>

</section>

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->
</body>
</html>