<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WA | All Exercises</title>
</head>

<body class="bg-dark text-light h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<p th:if="${exerciseSuccess}" class="alert alert-success text-center" th:text="${exerciseSuccess}"></p>
<p th:if="${NotAuth}" class="text-success" th:text="${NotAuth}"></p>

<section class="container">

    <div class="container my-5 rounded text-light d-flex justify-content-between">
        <h2 class="fw-bold mb-2"><span class="highlight"> All Exercises </span></h2>
        <a th:if="${session.loggedInUserFirstName != null}" th:href="@{/exercises/{id}/add(id = ${session.loggedInUserId})}" class=" btn btn-sm btn-success float-end mb-2"><i class="fa-solid fa-circle-plus"></i> Add Exercise</a>
    </div>

    <div class="bg-light rounded">
        <table class="table table-striped table-hover rounded">
            <thead class="thead-light">
            <tr class="">
                <th>Name</th>
                <th>Type</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exercise: ${listExercises}">
                <td th:text="${exercise.e_name}">Name</td>
                <td th:text="${exercise.e_type}">Type</td>
                <td th:text="${exercise.e_sets}">Sets</td>
                <td th:text="${exercise.e_reps}">Reps</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->

</body>
</html>