<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>WorkoutApp | Exercises</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js" ></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js" ></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" defer/>
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
</head>

<body class="bg-dark h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<section class="container">

    <div class="container mt-5 w-50 rounded text-light">
        <h2 class="text-center fw-bold mb-2"><span class="highlight">Edit Exercise</span></h2>
    </div>

    <div class="container bg-light p-5 mt-5 w-50 rounded">

        <form method="post" th:action="@{/home/dashboard/edit/{id}/save(id = ${session.loggedInUserId})}"
              th:object="${exerciseForm}" class="container d-flex flex-column">

            <div class="mb-3">
                <label for="e_name" class="form-label">Exercise Name: </label>
                <input type="text" id="e_name" class="form-control" th:field="*{e_name}" th:placeholder="${exercise.e_name}">
                <span th:if="${#fields.hasErrors('e_name')}" th:errors="*{e_name}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="e_type" class="form-label">Exercise Type: </label>
                <input type="text" id="e_type" class="form-control" th:field="*{e_type}" th:placeholder="${exercise.e_type}">
                <span th:if="${#fields.hasErrors('e_type')}" th:errors="*{e_type}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="e_sets" class="form-label">Sets: </label>
                <input id="e_sets" class="form-control" th:field="*{e_sets}" th:placeholder="${exercise.e_sets}">
                <span th:if="${#fields.hasErrors('e_sets')}" th:errors="*{e_sets}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="e_reps" class="form-label">Reps: </label>
                <input id="e_reps" class="form-control" th:field="*{e_reps}" th:placeholder="${exercise.e_reps}">
                <span th:if="${#fields.hasErrors('e_reps')}" th:errors="*{e_reps}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>

    </div>
</section>

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->
</body>
</html>