<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WorkoutApp | Index</title>
</head>
<body>
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<div class="container">
    <h1>Index Page</h1>
    <p th:if="${#request.userPrincipal != null}">
        Hello You are not null and your name is [[${session.loggedUserFirstName}]]
        <br/>
        [[${#request.remoteUser}]]
    </p>

    <p th:unless="${#request.userPrincipal != null}">
        Hello You ARE null
    </p>

</div>

</body>
</html>