<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WorkoutApp | Index</title>
</head>
<body>
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<section class="container">
    <h1>Index Page</h1>
    <p th:if="${#request.userPrincipal != null}">
        Hello, [[${session.loggedInUserFirstName}]]
    </p>

    <p th:unless="${#request.userPrincipal != null}">
        Hello, You are not signed in!
    </p>

</section>

</body>
</html>