<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WA | Login</title>
</head>
<body class="bg-dark h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<p th:if="${registerSuccess}" class="alert alert-success text-center" th:text="${registerSuccess}"></p>

<section class="container">

    <div class="container mt-5 w-50 rounded text-light">
        <h2 class="text-center fw-bold mb-2"><span class="highlight">Login Page</span></h2>
    </div>

    <div class="container bg-light p-5 mt-5 w-50 rounded">

        <p th:if="${NotAuth}" class="text-success" th:text="${NotAuth}"></p>
        <p th:if="${param.logout}" class="text-warning">You have been logged out.</p>

        <form th:action="@{/login}" method="post" class="container">

            <div th:if="${param.error}" class="form-text text-danger">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address: </label>
                <input id="email" type="email" name="email" class="form-control" placeholder="E-mail" required
                       autofocus/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input id="password" type="password" name="password" class="form-control" placeholder="Password"
                       required/>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Login</button>
            <div class="d-flex flex-column w-50">
                <span class="">Don't have an account?</span>
                <a th:href="@{/register}" class="">Click here to Register</a>
            </div>

        </form>

    </div>

</section>

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->
</body>
</html>