<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>WorkoutApp | Login</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-light navbar-light py-3">
  <div class="container">
    <a th:href="@{/}"  class="navbar-brand">WorkoutTracker</a>

    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto gap-1">
        <li class="nav-item">
          <a th:href="@{/}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/exercises}" class="nav-link">Exercises</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/dashboard}" class="nav-link">My Workouts</a>
        </li>
        <li class="nav-item" th:if="${#request.userPrincipal != null}">
          <a th:href="@{/logout}" class="btn btn btn-outline-primary">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Logout
          </a>
        </li>
        <li class="nav-item" th:unless="${#request.userPrincipal != null}">
          <a th:href="@{/login}" class="btn btn btn-outline-primary">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Login
          </a>
        </li>
        <li class="nav-item"  th:unless="${#request.userPrincipal != null}">
          <a th:href="@{/register}" class="btn btn btn-primary">
            <i class="fa-solid fa-user-plus"></i>
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->

<div class="container-fluid text-center pt-5">
  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

    <div th:if="${param.error}">
      <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>
    <p th:if="${NotAuth}" class="text-success" th:text="${NotAuth}"></p>

    <div th:if="${param.logout}">
      <p class="text-warning">You have been logged out.</p>
    </div>

    <div class="border border-secondary p-3 rounded">
      <p>Login Page</p>
      <p>
        <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
      </p>
      <p>
        <input type="password" name="password" class="form-control" placeholder="Password" required />
      </p>
      <p>
        <input type="checkbox" name="remember-me" />&nbsp;Remember Me
      </p>
      <p>
        <input type="submit" value="Login" class="btn btn-primary" />
      </p>
    </div>
  </form>
</div>
</body>
</html>