<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WorkoutApp | Login</title>
</head>
<body>
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->

<div class="container-fluid text-center pt-5">
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <p th:if="${NotAuth}" class="text-success" th:text="${NotAuth}"></p>

        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p>Login Page</p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>