<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>Profile Page | Edit</title>
</head>
<body class="bg-dark h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->
<p th:if="${successEdit}" class="alert alert-success text-center" th:text="${successEdit}"></p>
<section class="container">

    <div class="container bg-light bg-opacity-75 p-5 mt-5 w-50 rounded">
        <h2 class="text-center">Edit Profile Page</h2>
        <form method="post" th:action="@{/account/{id}/save(id = ${session.loggedInUserId})}"
              th:object="${userUpdateForm}" class="container d-flex flex-column">


            <div class="mb-3">
                <label for="email" class="form-label">Email address: </label>
                <input id="email" class="form-control" th:field="*{email}"
                       th:placeholder="${session.loggedInUserEmail}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"
                      class="form-text text-danger"></span>
                <span th:if="${isNotUnique}" class="form-text text-danger" th:text="${isNotUnique}"></span>
            </div>

            <div class="mb-3">
                <label for="firstName" class="form-label">First Name: </label>
                <input id="firstName" class="form-control" th:field="*{firstName}"
                       th:placeholder="${session.loggedInUserFirstName}">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name: </label>
                <input id="lastName" class="form-control" th:field="*{lastName}"
                       th:placeholder="${session.loggedInUserLastName}">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                <a th:href="@{/account/{id}/delete(id = ${session.loggedInUserId})}"
                   class="btn btn-danger mb-2">Delete</a>
            </div>
        </form>

    </div>
</section>

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->
</body>
</html>