<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: headerFiles">
    <title>WorkoutApp | Sign-Up</title>
</head>
<body>
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->

<!--registration form-->
<section class="d-flex align-items-center justify-content-center">

    <form method="post" th:action="@{/registerSubmit}" th:object="${userForm}">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}" th:class="error">Input is incorrect</li>
        </ul>
        <p th:if="${isNotUnique}" class="alert alert-danger" th:text="${isNotUnique}"></p>
        <p>
            Email:
            <input th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></span>
        </p>
        <p>
            Password:
            <input th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></span>
        </p>
        <p>
            First Name:
            <input th:field="*{firstName}">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></span>
        </p>
        <p>
            Last Name:
            <input th:field="*{lastName}">
        </p>
        <input type="submit" value="submit">
    </form>
    </div>
</section>
<!--end of registration form-->
</body>
</html>