<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: headerFiles">
    <title>WA | Sign-Up</title>
</head>
<body class="bg-dark h-100">
<!--navbar-->
<nav th:replace="fragments/navbar.html :: navBar"></nav>
<!--navbar-->

<!--registration form-->
<section class="container">

    <div class="container mt-5 w-50 rounded text-light">
        <h2 class="text-center fw-bold mb-2"><span class="highlight">Register</span></h2>
    </div>

    <div class="container bg-light p-5 mt-5 w-50 rounded">

        <form method="post" th:action="@{/registerSubmit}" th:object="${userForm}" class="container d-flex flex-column">


            <div class="mb-3">
                <label for="email" class="form-label">Email address: </label>
                <input type="text" id="email" class="form-control" th:field="*{email}" placeholder="email@email.com">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"
                      class="form-text text-danger"></span>
                <span th:if="${isNotUnique}" class="form-text text-danger" th:text="${isNotUnique}"></span>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" id="password" class="form-control" th:field="*{password}" placeholder="password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="confirm" class="form-label">Confirm Password: </label>
                <input type="password" id="confirm" class="form-control" th:field="*{confirm}" placeholder="password">
                <span th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}" th:errorclass="error"
                      class="form-text text-danger"></span>
                <span th:if="${misMatch}" class="form-text text-danger" th:text="${misMatch}"></span>
            </div>

            <div class="mb-3">
                <label for="firstName" class="form-label">First Name: </label>
                <input type="text" id="firstName" class="form-control" th:field="*{firstName}" placeholder="first name">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name: </label>
                <input type="text" id="lastName" class="form-control" th:field="*{lastName}" placeholder="last name">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"
                      class="form-text text-danger"></span>
            </div>

            <div class="d-flex flex-column col col-md-6">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                <span class="float-end">
            Already a user?</span>
                <a th:href="@{/login}" class="">Click here to Login</a>
            </div>
        </form>
    </div>
</section>
<!--end of registration form-->

<!--footer-->
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- end footer -->
</body>
</html>